<div id="about">

  <!-- 소개 -->
  <div class="section">
    <div class="section_title">소개</div>
    <div class="section_content">
      안녕하세요. 홍익대학교 컴퓨터공학과에 재학중인 25살 이현식입니다.
    </div>
  </div>

  <div class="section">
    <div class="section_title">경력</div>

    <div class="section_content">
      <div class="content_name">Ha Jung-hun's LAB.</div>
      <div class="content_date">2017.03 ~ </div>
      <div class="content_subname">Hongik Univ.</div>
      <div class="content_detail">
        소개 : 산업공학과 연구실</br>
        직급 : 학부연구생</br>
        대표 프로젝트 : IPPS

      </div>
    </div>

    <div class="section_content">
      <div class="content_name">SportsFactory</div>
      <div class="content_date">2016.09 ~ 2017.02</div>
      <div class="content_subname">Startup Company</div>
      <div class="content_detail">
        소개 : 생활체육 통합플랫폼 서비스 제공 회사</br>
        직급 : 서버, 웹, 안드로이드 총괄 메인개발자</br>
        대표 프로젝트 :
        <a href="../project-sportforall">
          운동생활 (SportForAll)
        </a>

        <!-- 관련링크 :
        <a href="https://play.google.com/store/apps/details?id=com.sportsfactory.sportforall">
          운동생활 플레이스토어
        </a></br> -->
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">Mappetizer</div>
      <div class="content_date">2014.06 ~ 2014.11</div>
      <div class="content_subname">Startup Company</div>
      <div class="content_detail">
        소개 : 웨딩상품 쇼핑몰 운영 및 웨딩관련 앱서비스 제공 회사</br>
        직급 : 안드로이드 개발자</br>
        대표 프로젝트 :
        <a href="../project-weddingbox">
          웨딩박스 (WeddingBox)
        </a>

        <!-- 개발인원 및 역활 : 3명 / </br> -->
        <!-- 관련링크 :
        <a href="https://play.google.com/store/apps/details?id=com.takebox.wedding">
          웨딩박스 플레이스토어
        </a></br> -->
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">TrendTok</div>
      <div class="content_date">2013.10 ~ 2013.12</div>
      <div class="content_subname">Web Agency</div>
      <div class="content_detail">
        소개 : 한국팝송음악 소개 웹사이트 운영, 웹 외주</br>
        직급 : 웹 퍼블리싱 알바</br>
        대표 프로젝트 :
        <a href="../project-mementomori">
          메멘토모리(mementomori)
        </a>

        <!-- 관련링크 :
        <a href="http://www.mementomori.co.kr/">
          메멘토모리 홈페이지
        </a></br> -->
      </div>
    </div>

    <!-- <div class="section_content">
      <div class="content_name">
        <a href="../projects">More Projects</a>
      </div>
      <div class="content_date"></div>
      <div class="content_subname"></div>
      <div class="content_detail">
      </div>
    </div> -->
  </div>

  <!-- 대외활동 -->
  <!-- <div class="section">
    <div class="section_title">대외활동</div>

    <div class="section_content">
      <div class="content_name">홍익대학교 중앙마술동아리 매직스</div>
      <div class="content_date">2012.03 ~ 2013.12</div>
      <div class="content_subname">마술동아리</div>
      <div class="content_detail">
        활동 : 2013년도 회장 / 공연, 축제 등의 활동 기획 및 참여</br>
        <a href="http://hongikmagics.com/">홈페이지</a>
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">행복재단 행복북클럽</div>
      <div class="content_date">2013.01 ~ 2014.12</div>
      <div class="content_subname">독서토론 모임</div>
      <div class="content_detail">
        활동 : 2014년도 회장 / 독서모임 활동 기획 및 참여</br>
        <a href="https://www.facebook.com/ihappybookclub/">페이스북 페이지</a>
      </div>
    </div>
  </div> -->

  <!-- 자격증 -->
  <!-- <div class="section">
    <div class="section_title">자격증</div>
    <div class="section_content">
      <div class="content_name">정보처리산업기사</div>
      <div class="content_date">2016.05</div>
      <div class="content_subname">한국산업인력공단</div>
    </div>

    <div class="section_content">
      <div class="content_name">GTQ</div>
      <div class="content_date">2016.02</div>
      <div class="content_subname">한국생산성본부</div>
    </div>

    <div class="section_content">
      <div class="content_name">컴퓨터활용능력 2급</div>
      <div class="content_date">2015.12 </div>
      <div class="content_subname">대한상공회의소</div>
    </div>

    <div class="section_content">
      <div class="content_name">워드프로세서</div>
      <div class="content_date">2015.09</div>
      <div class="content_subname">대한상공회의소</div>
    </div>

  </div>

  <div class="section">
    <div class="section_title">기술</div>
    <div class="section_content">
      기술은... 어떻게 표현할까...
    </div>
  </div> -->

</div>
