<div id="about">

  <!-- 소개 -->
  <div class="section">
    <div class="section_content">
      Daniel Hyunsik Lee<br />
      Android App, Web App, Server Developer, AI Researcher<br />
      gustlr2510@gmail.com
    </div>
  </div>

  <!-- Education -->
  <div class="section">
    <div class="section_title">Education</div>
    <div class="section_content">
      <div class="content_name">Illnois Institute of Technology, Chicago, IL</div>
      <div class="content_date">Anticipated 2018.12</div>
      <div class="content_subname">International Certificate in IT</div>
      <div class="content_detail">
      </div>
    </div>
    <div class="section_content">
      <div class="content_name">SK Tacademy, Seoul, Korea</div>
      <div class="content_date">2014.06</div>
      <div class="content_subname">Mobile Server Development Specialist Certificate</div>
      <div class="content_detail">
      </div>
    </div>
    <div class="section_content">
      <div class="content_name">Hongik University, Seoul, Korea</div>
      <div class="content_date">Anticipated 2020.02</div>
      <div class="content_subname">Bachelor Degree in Computer Engineering</div>
      <div class="content_detail">
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section_title">Career</div>

    <div class="section_content">
      <div class="content_name">Ha Jung-hun's LAB.</div>
      <div class="content_date">2017.03 ~ 2018.02</div>
      <div class="content_subname">Hongik Univ. Production Process Scheduling Lab., Seoul, Korea</div>
      <div class="content_detail">
        Undergraduate researcher</br>
        Research about Integrated Process Planning and Scheduling with Machine Learning</br>
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">SportsFactory</div>
      <div class="content_date">2016.09 ~ 2017.02</div>
      <div class="content_subname">Startup Company providing information about fitness and sports</div>
      <div class="content_detail">
        Senior Fullstack Developer<br />
        Plan the project and Develop Server, Web, Android.
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">Mappetizer</div>
      <div class="content_date">2014.06 ~ 2014.11</div>
      <div class="content_subname">Startup Company providing information about wedding</div>
      <div class="content_detail">
        Android Developer<br />
        Develope Android Application
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">TrendTok</div>
      <div class="content_date">2013.10 ~ 2013.12</div>
      <div class="content_subname">Web Agency providing information about K-POP</div>
      <div class="content_detail">
        Part-Time Job
        Web Development Assistance
      </div>
    </div>
  </div>

  <!-- 모임 활동 -->
  <!-- <div class="section">
    <div class="section_title">모임 및 활동</div>

    <div class="section_content">
      <div class="content_name">홍익대학교 중앙마술동아리 매직스</div>
      <div class="content_date">2012.03 ~ 2013.12</div>
      <div class="content_subname">마술동아리</div>
      <div class="content_detail">
        활동 : 2013년도 회장 / 공연, 축제 등의 활동 기획 및 참여</br>
        링크 : <a href="http://hongikmagics.com/">홈페이지</a>
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">행복재단 행복북클럽</div>
      <div class="content_date">2013.01 ~ 2014.12</div>
      <div class="content_subname">독서토론 모임</div>
      <div class="content_detail">
        활동 : 2014년도 회장 / 독서모임 활동 기획 및 참여</br>
        링크 : <a href="https://www.facebook.com/ihappybookclub/">페이스북 페이지</a>
      </div>
    </div>
  </div> -->

  <!-- 자격증 -->
  <!-- <div class="section">
    <div class="section_title">자격증</div>
    <div class="section_content">
      <div class="content_name">토익</div>
      <div class="content_date">2018.01.28</div>
      number = 625796
      <div class="content_subname">한국산업인력공단</div>
    </div>

    <div class="section_content">
      <div class="content_name">정보처리산업기사</div>
      <div class="content_date">2016.05</div>
      <div class="content_subname">한국산업인력공단</div>
    </div>

    <div class="section_content">
      <div class="content_name">GTQ</div>
      <div class="content_date">2016.02</div>
      <div class="content_subname">한국생산성본부</div>
    </div>

    <div class="section_content">
      <div class="content_name">컴퓨터활용능력 2급</div>
      <div class="content_date">2015.12 </div>
      <div class="content_subname">대한상공회의소</div>
    </div>

    <div class="section_content">
      <div class="content_name">워드프로세서</div>
      <div class="content_date">2015.09</div>
      <div class="content_subname">대한상공회의소</div>
    </div>

  </div>

  <div class="section">
    <div class="section_title">기술</div>
    <div class="section_content">
      기술은... 어떻게 표현할까...
    </div>
  </div> -->

</div>
