<div id="about">

  <!-- 소개 -->
  <div class="section">
    <div class="section_content">
      이현식<br />
      gustlr2510@gmail.com
    </div>
  </div>

  <!-- Education -->
  <div class="section">
    <div class="section_title">교육</div>
    <div class="section_content">
      <div class="content_name">홍익대학교</div>
      <div class="content_date">Anticipated 2020.02</div>
      <div class="content_subname">컴퓨터공학과 졸업예정</div>
      <div class="content_detail">
      </div>
    </div>
    <div class="section_content">
      <div class="content_name">Illnois Institute of Technology</div>
      <div class="content_date">2018.09 ~ 2018.02</div>
      <div class="content_subname">교환학생 수료</div>
      <div class="content_detail">
      </div>
    </div>
    <div class="section_content">
      <div class="content_name">SK Tacademy</div>
      <div class="content_date">2014.03 ~ 2014.06</div>
      <div class="content_subname">모바일 서버 전문가과정 수료</div>
      <div class="content_detail">
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section_title">경력</div>
    <div class="section_content">
      <div class="content_name">Smart Technology Lab</div>
      <div class="content_date">2017.03 ~ 2018.02</div>
      <div class="content_subname">Illinois Institute of Technology Jeremy Hajek Lab</div>
      <div class="content_detail">
        내용 : 인공지능 스피커 애플리케이션 개발 및 한글분석 연구</br>
        직급 : 학부연구생</br>
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">Production Research Lab</div>
      <div class="content_date">2017.03 ~ 2018.02</div>
      <div class="content_subname">홍익대학교 산업공학과 하정훈 교수님 연구실</div>
      <div class="content_detail">
        내용 : 머신러닝을 이용한 스케줄링 최적화 연구</br>
        직급 : 학부연구생</br>
        프로젝트 : <a href="../project-ipps">IPPS</a>
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">SportsFactory</div>
      <div class="content_date">2016.09 ~ 2017.02</div>
      <div class="content_subname">생활체육 통합플랫폼 서비스 제공 스타트업 회사</div>
      <div class="content_detail">
        내용 : 하이브리드 웹앱 설계 및 개발</br>
        직급 : Senior Fullstack Developer</br>
        프로젝트 : <a href="../project-sportforall">운동생활(SportForAll)</a>
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">Mappetizer</div>
      <div class="content_date">2014.06 ~ 2014.11</div>
      <div class="content_subname">웨딩상품 쇼핑몰 운영 및 웨딩관련 서비스 제공 스타트업 회사</div>
      <div class="content_detail">
        내용 : 안드로이드 앱 개발 보조</br>
        직급 : Junior Android Developer</br>
        프로젝트 :<a href="../project-weddingbox"> 웨딩박스(WeddingBox) </a>
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">TrendTok</div>
      <div class="content_date">2013.10 ~ 2013.12</div>
      <div class="content_subname">웹 에이전시</div>
      <div class="content_detail">
        소개 : 웹 개발</br>
        직급 : Web Developer</br>
      </div>
    </div>
  </div>

  <!-- 모임 활동 -->
  <!-- <div class="section">
    <div class="section_title">모임 및 활동</div>

    <div class="section_content">
      <div class="content_name">홍익대학교 중앙마술동아리 매직스</div>
      <div class="content_date">2012.03 ~ 2013.12</div>
      <div class="content_subname">마술동아리</div>
      <div class="content_detail">
        활동 : 2013년도 회장 / 공연, 축제 등의 활동 기획 및 참여</br>
        링크 : <a href="http://hongikmagics.com/">홈페이지</a>
      </div>
    </div>

    <div class="section_content">
      <div class="content_name">행복재단 행복북클럽</div>
      <div class="content_date">2013.01 ~ 2014.12</div>
      <div class="content_subname">독서토론 모임</div>
      <div class="content_detail">
        활동 : 2014년도 회장 / 독서모임 활동 기획 및 참여</br>
        링크 : <a href="https://www.facebook.com/ihappybookclub/">페이스북 페이지</a>
      </div>
    </div>
  </div> -->

  <!-- 자격증 -->
  <!-- <div class="section">
    <div class="section_title">자격증</div>
    <div class="section_content">
      <div class="content_name">토익</div>
      <div class="content_date">2018.01.28</div>
      number = 625796
      <div class="content_subname">한국산업인력공단</div>
    </div>

    <div class="section_content">
      <div class="content_name">정보처리산업기사</div>
      <div class="content_date">2016.05</div>
      <div class="content_subname">한국산업인력공단</div>
    </div>

    <div class="section_content">
      <div class="content_name">GTQ</div>
      <div class="content_date">2016.02</div>
      <div class="content_subname">한국생산성본부</div>
    </div>

    <div class="section_content">
      <div class="content_name">컴퓨터활용능력 2급</div>
      <div class="content_date">2015.12 </div>
      <div class="content_subname">대한상공회의소</div>
    </div>

    <div class="section_content">
      <div class="content_name">워드프로세서</div>
      <div class="content_date">2015.09</div>
      <div class="content_subname">대한상공회의소</div>
    </div>

  </div>

  <div class="section">
    <div class="section_title">기술</div>
    <div class="section_content">
      기술은... 어떻게 표현할까...
    </div>
  </div> -->

</div>
